*{
	box-sizing: border-box;
}

body .app-container{
	margin: 0;
	padding: 0;
}

.app-container #home-banner{
	height: 45vh;
    display: inline-block;
    background-color: #006064;
    width: 100%;
    position: relative;
    box-shadow: 0px 0px 6px #383838;
    min-height: 400px;
}

.profile-pic-container .profile-pic{
	background: url("../assets/kevin.jpg") no-repeat center;
	display: inline-block;
	width: 25vh;
	height: 25vh;
	min-height: 150px;
	min-width: 150px;
	background-size: cover;
	border-radius: 50%;
	box-shadow: 0px 0px 8px #383838;
}

.profile-pic-container{
	width: 100%;
	text-align: center;
	display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15%;
}

.about-me{
	display: inline-block;
	max-width: 310px;
    text-align: center;
    margin-left: 7em;
    color: #f2dede;
}

.about-me ul{
	text-align: left;
	list-style: none;
}

.project-btn{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	border: none;
	box-shadow: 0px 0px 12px #383838;
	position: absolute;
    bottom: -40px;
    right: 10vw;
    transition: 0.4s;
    line-height: 80px;
    text-align: center;
    background-color: #1976D2;
    color: white;
    font-weight: bold;
    font-size: 13px;
    transition: 0.4s;
}

.project-btn:hover{
	background-color: #2196F3;
	transition: 0.4s;
	cursor: pointer;
}

@media screen and (max-width: 650px) {
	.profile-pic-container{
		flex-direction: column;
		margin: 2em 0;
	}
	.app-container #home-banner{
		height: auto;
	}
	.profile-pic-container .about-me{
		margin-left: 0;
		margin-top: 2em;
	}
}

/* top nav btn */
.top-nav{
	text-align: left;
}
.top-nav .btn{
	background-color: rgba(255,255,255,0.2);
    margin: 1em;
    color: rgba(255,255,255,0.8);
    transition: 0.25s;
    box-shadow: 0px 0px 6px #4d4d4d;
    position: relative;
     box-shadow: 0px 0px 10px #4d4d4d;
}

.top-nav .btn:hover{
	background-color: rgba(255,255,255,0.4);
	color: rgba(255,255,255,0.9);
	transition: 0.25s;
	top: -2px;

}

/* Blog Preview */
.blog-preview-container{
	text-align: center
}
.section-title{
	text-align: center;
	margin: 1em;
}
.blog-preview-item-container{
	display: flex;
	justify-content: center;
	align-items: center;
}
.blog-preview-item-container .blog-preview-item{
    width: 20vw;
    height: 20vw;
    background-color: white;
    display: inline-block;
    margin: 3vw 2px;
    border: 1px solid #ddd;
    transition: 0.2s;
}

.blog-preview-item img{
	width: 100%;
	height: 100%;
}

.blog-preview-container .btn{
	display: block;
    left: 80%;
    position: relative;
}
.blog-preview-bottom-border{
	width: 75%;
	height: 1px;
	border-bottom: 2px solid black;
	display: inline-block;
}

.blog-preview-container .row{
	width: 80%;
    display: inline-block;
    text-align: right;
}

@media screen and (max-width: 650px) {
	.blog-preview-item-container{
		flex-direction: column;
	}
	.blog-preview-item-container .blog-preview-item{
		width: 50vw;
		height: 50vw;
		margin: 1vh;
	}
	.blog-preview-container .row{
		text-align: center;
	}

	.blog-preview-container .btn{
		display: inline-block;
		left: 0;
		margin: 2em 0;
	}
}

/* Projects Preview */
.projects-container{
	text-align: center;
	perspective: 100px;
}
.project-item-container{
	width: 100vw;
	text-align: center;
}

.project-item{
	width: 70vw;
	height: 30vw;
	max-width: 1000px;
	display: inline-block;
	transition: 0.2s;
    background: no-repeat top center;
    background-size: 100% auto;
    filter: brightness(0.4);
    margin-bottom: 1.5em;
    transform: 
}

.project-item:hover{
	cursor: pointer;
	transform: translateZ(1px);
	filter: brightness(1);

}
#pj-1{
	background-image: url("../assets/slackershub.png");
}

#pj-2{
	background-image: url("../assets/xiao_loong.png");
}

#pj-3{
	background-image: url("../assets/tumblr.png");
}

#pj-4{
	background-image: url("../assets/canvas.png");
}

/*resume */
#resume-page-container iframe{
    min-height: 1100px;
    max-width: 840px;
    border: none;
    box-shadow: 0px 0px 8px #464343;
}

#resume-page-container{
	background-color: #006064;
	text-align: center;
}


#resume-page-container h1{
	color: white;
	margin: 1em;
}

/* new post */

#new-post-container{
	background-color: #006064;
	display: block;
}

#image-drop-box{
	min-width: 200px;
	min-height: 200px;
	width: 30vw;
	height: 30vw;
	border: 1px solid white;
	border-radius: 10px;
	margin: auto;
}


/* my character animation */
#stage{
	width: 40vw;
    height: 40vw;
    background: #82B1FF;
    border-radius: 50%;
    position: relative;
    margin: 5em auto;
}
#me-container {
    width: 150px;
    height: 370px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin: auto;}
  #me-container #head-container {
    width: 150px;
    height: 150px;
    position: relative;
    background-color: beige;
    z-index: 3; }
    #me-container #head-container #hair-container {
      position: absolute;
      width: 100%;
      height: 50%;
      top: 0;
      z-index: 1; }
      #me-container #head-container #hair-container * {
        width: 0;
        height: 0;
        position: absolute; }
      #me-container #head-container #hair-container #hair-1 {
        border-bottom: 66px solid transparent;
        border-top: 0px solid transparent;
        border-left: 67px solid black;
        left: -4px;
        top: -2px; }
      #me-container #head-container #hair-container #hair-2 {
        border-left: 108px solid transparent;
        border-right: 26px solid transparent;
        border-top: 58px solid black;
        top: -2px;
        left: 0px; }
      #me-container #head-container #hair-container #hair-3 {
        border-right: 133px solid black;
        border-top: 0px solid transparent;
        border-bottom: 71px solid transparent;
        right: -3px;
        top: -2px; }
    #me-container #head-container #face-container {
      width: 100%;
      height: 100%;
      left: 5px;
      position: relative; }
      #me-container #head-container #face-container #glasses {
        width: 100%;
        height: 30%;
        top: 40%;
        position: relative; }
        #me-container #head-container #face-container #glasses #left-eye,
        #me-container #head-container #face-container #glasses #right-eye {
          width: 47.5%;
          height: 100%;
          border: solid 10px black;
          float: left;
          box-sizing: border-box;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 1.5em;
          position: relative;
          background: white; }
        #me-container #head-container #face-container #glasses #left-eye::before,
        #me-container #head-container #face-container #glasses #right-eye::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 0%;
          top: 0;
          border-bottom: 1px solid black;
          background-color: beige;
          z-index: 2;
          animation: blink_top_lid 5.35s infinite; }
        #me-container #head-container #face-container #glasses #left-eye::after,
        #me-container #head-container #face-container #glasses #right-eye::after {
          content: "";
          position: absolute;
          width: 100%;
          height: 0%;
          bottom: 0;
          left: 0;
          background-color: beige;
          z-index: 1;
          border-top: 1px solid black;
          animation: blink_bottom_lid 5.35s infinite; }
        #me-container #head-container #face-container #glasses #bridge {
          width: 5%;
          height: 40%;
          float: left;
          background: black;
          box-sizing: border-box; }
      #me-container #head-container #face-container #mouth {
        width: 35%;
        border: 3px solid black;
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        margin: auto; }
  #me-container #upper-body-container {
    width: 150px;
    height: 120px;
    position: relative; }
    #me-container #upper-body-container #my-body {
      width: 90%;
      height: 100%;
      background: #00695C;
      position: absolute;
      z-index: 1; }
    #me-container #upper-body-container #left-arm-container,
    #me-container #upper-body-container #right-arm-container {
      width: 25%;
      height: 90%;
      position: absolute; }
      #me-container #upper-body-container #left-arm-container #left-arm,
      #me-container #upper-body-container #left-arm-container #right-arm,
      #me-container #upper-body-container #right-arm-container #left-arm,
      #me-container #upper-body-container #right-arm-container #right-arm {
        width: 100%;
        height: 80%;
        background: black; }
      #me-container #upper-body-container #left-arm-container #left-hand,
      #me-container #upper-body-container #left-arm-container #right-hand,
      #me-container #upper-body-container #right-arm-container #left-hand,
      #me-container #upper-body-container #right-arm-container #right-hand {
        width: 90%;
        height: 20%;
        position: relative;
        background: beige; }
      #me-container #upper-body-container #left-arm-container #right-thumb,
      #me-container #upper-body-container #right-arm-container #right-thumb {
        width: 0%;
        height: 30%;
        position: absolute;
        background-color: beige;
        right: -30%; }
    #me-container #upper-body-container #left-arm-container {
      z-index: 2;
      left: -7px; }
    #me-container #upper-body-container #right-arm-container {
      right: 5px;
      z-index: -1; }
  #me-container #lower-body-container {
    height: calc(370px - 120px - 150px);
    width: calc(.9 * 150px);
    padding: 0 5px;
    position: relative;
    box-sizing: border-box; }
    #me-container #lower-body-container * {
      box-sizing: border-box; }
    #me-container #lower-body-container #hip {
      width: 100%;
      height: 20%;
      background: #3E2723; }
    #me-container #lower-body-container #left-leg-container,
    #me-container #lower-body-container #right-leg-container {
      width: 30%;
      height: 80%;
      position: absolute; }
      #me-container #lower-body-container #left-leg-container #left-leg,
      #me-container #lower-body-container #left-leg-container #right-leg,
      #me-container #lower-body-container #right-leg-container #left-leg,
      #me-container #lower-body-container #right-leg-container #right-leg {
        width: 100%;
        height: 80%;
        background: #3E2723; }
      #me-container #lower-body-container #left-leg-container #left-feet,
      #me-container #lower-body-container #left-leg-container #right-feet,
      #me-container #lower-body-container #right-leg-container #left-feet,
      #me-container #lower-body-container #right-leg-container #right-feet {
        bottom: 0;
        width: 60px;
        height: 20%;
        position: absolute;
        background: #DD2C00; }
    #me-container #lower-body-container #left-leg-container {
      left: 5px; }
    #me-container #lower-body-container #right-leg-container {
      right: 5px; }

.turned-back {
  transform: rotate3d(0, 1, 0, 180deg); }

.left-arm-move {
  transform-origin: top;
  -webkit-animation: leftarm 1s infinite;
  /* Safari 4.0 - 8.0 */
  animation: leftarm 1s infinite; }

.right-arm-move {
  transform-origin: top;
  -webkit-animation: rightarm 1s infinite;
  /* Safari 4.0 - 8.0 */
  animation: rightarm 1s infinite; }

.left-leg-move {
  transform-origin: right;
  -webkit-animation: leftleg 1s infinite;
  /* Safari 4.0 - 8.0 */
  animation: leftleg 1s infinite; }

.right-leg-move {
  transform-origin: top;
  -webkit-animation: rightleg 1s infinite;
  /* Safari 4.0 - 8.0 */
  animation: rightleg 1s infinite; }

.arm-90 {
  transform-origin: left;
  animation: arm_90 10s 0.35s infinite; }

.thumb-up {
  animation: thumb_up 10s 0.35s infinite; }

@keyframes thumb_up {
  0% {
    width: 0%; }
  1% {
    width: 30%; }
  40% {
    width: 30%; }
  41% {
    width: 0%; }
  100% {
    width: 0%; } }

@keyframes arm_90 {
  0% {
    transform: rotate(0deg); }
  1% {
    transform: rotateZ(-90deg) translate(0%, 30%); }
  40% {
    transform: rotateZ(-90deg) translate(0%, 30%); }
  41% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes blink_top_lid {
  0% {
    height: 0%; }
  1.75% {
    height: 60%; }
  3.5% {
    height: 0%; }
  5.25% {
    height: 60%; }
  7% {
    height: 0%; }
  100% {
    height: 0%; } }

@keyframes blink_bottom_lid {
  0% {
    height: 0%; }
  1.75% {
    height: 40%; }
  3.5% {
    height: 0%; }
  5.25% {
    height: 40%; }
  7% {
    height: 0%; }
  100% {
    height: 0%; } }

@keyframes rightleg {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-40deg) translate(30%, -8%); }
  100% {
    transform: rotate(0deg); } }

@keyframes leftleg {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(90deg) translateY(46%); }
  100% {
    transform: rotate(0deg); } }

@keyframes rightarm {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-90deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes leftarm {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(45deg); }
  100% {
    transform: rotate(0deg); } }
